 /**
 *
 * Client: Shreejee International School
 * @link http://sjissonipat.in/
 * Built By: Edunext Technologies Pvt. Ltd.
 * Project Manager: Vinay Verma
 * Dated: Oct 10th 2016
 *
 */
.mouseico {
	height: 71px;
	width: 260px;
	position: relative;
	content: "";
}
#disqus_thread {
	opacity: 0.8;
	padding-right: 10px;
}
.tt-b-day {
	font-size: 28px;
	float: left;
	padding-left: 10px;
	line-height: 40px;
	margin-left: -1px;
	border-left: 1px solid rgba(0,0,0,0.1);	color: #333;
}
.rem-border {
	border-left: none;
}
.tt-b-time {
	font-size: 28px;
	float: left;
	line-height: 50px;	color: #333;
}
.tt-b-time-r {
	float: left;
	padding-left: 10px;
	margin-right: -1px;
	border-right: 1px solid rgba(0,0,0,0.1);	color: #333;
}
.tt-b-day-r, .tt-b-amp {
	float: left;
	font-size: 10px;
	line-height: 12px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 10px;	
	padding-bottom: 6px;
	color: #333;
	background:#95C23D;
}
.tt-b-amp {
	padding-right: 15px;
}
.tt-b-month {
	text-transform: uppercase;
}